$primary:       #31545F;
$secondary:     #AAB9BC;
$body-bg: #0d181a;
$body-color: #e3f2f7;
$danger: #b12414;
$warning: #ffef60;
$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;
$font-family-monospace: 'Fira Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
